body {
    font-size: 16px;
    color: darkorange;
    background: -webkit-linear-gradient(#c9e2b3, aliceblue);
    background: -moz-linear-gradient(#c9e2b3, aliceblue);
    background: -o-linear-gradient(#c9e2b3, aliceblue);
    background: linear-gradient(#c9e2b3, aliceblue);
}

.container-fluid {
    margin: 0 auto;
    padding: 0;
}

#header-nav {
    background: -webkit-linear-gradient(aliceblue, #9acfea);
    background: -moz-linear-gradient(aliceblue, #9acfea);
    background: -o-linear-gradient(aliceblue, #9acfea);
    background: linear-gradient(aliceblue, #9acfea);
    border: 0px;
    border-radius: 0px;
}

.navbar-brand {
    padding-top: 20px;
}

.navbar-brand h1 { /* Restaurant name */
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #3c3c3c;
    font-size: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px yellow;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-toggle {
    background: -webkit-linear-gradient(aliceblue, yellowgreen);
    background: -moz-linear-gradient(aliceblue, yellowgreen);
    background: -o-linear-gradient(aliceblue, yellowgreen);
    background: linear-gradient(aliceblue, yellowgreen);
}

#collapsable-nav {
    text-transform: uppercase;
    font-weight: bold;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #3c3c3c;
    text-shadow: 1px 1px 1px #ffff00;
    text-align: center;
    font-size: 1.3em;
    background: -webkit-linear-gradient(aliceblue, #9acfea);
    background: -moz-linear-gradient(aliceblue, #9acfea);
    background: -o-linear-gradient(aliceblue, #9acfea);
    background: linear-gradient(aliceblue, #9acfea);
}

#collapsable-nav a {
    opacity: .85;
}

#collapsable-nav a:hover, collapsable-nav a:focus {
    opacity: 1;
    color: darkorange;
}

#main-content {
    text-transform: uppercase;
    font-weight: bold;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #3c3c3c;
}

#main-content h1, h2 {
    color: #3c3c3c;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ffff00;
}

#main-content p {
    background-color: cornsilk;
    color: #985f0d;
    text-align: justify;
    margin: 1%;
    padding: 1%;
}

#topback {
    border: 1px;
    border-radius: 20px;
    background: -webkit-linear-gradient(aliceblue, yellowgreen);
    background: -moz-linear-gradient(aliceblue, yellowgreen);
    background: -o-linear-gradient(aliceblue, yellowgreen);
    background: linear-gradient(aliceblue, yellowgreen);
}

#topback a {
    color: #985f0d;
    font-weight: bold;
    opacity: .85;
}

#topback a:hover {
    text-decoration: none;
    opacity: 1;
    color: darkorange;
}
